.container {
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15% auto 15%;
    grid-template-areas:
            "header header header"
            "nav main sidebar"
            "footer footer footer";
}

body {
    margin: 0;
}

div {
    text-align: center;
    color: white;
}

.header {
    background-color: deeppink;
    grid-area: header;
}

.nav {
    background-color: palevioletred;
    grid-area: nav;

}

.main {
    background-color: royalblue;
    grid-area: main;
}

.aside {
    background-color: lightslategrey;
    grid-area: sidebar;
}

.footer {
    background-color: cadetblue;
    grid-area: footer;
}